<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body dir="rtl">
    <h1>مرحبا بك في نظام إدارة التسويق - ميميشوت</h1>
</body>
</html>
